# {{ ansible_managed }}

[tower]
tower1.localdomain ansible_connection=local
tower2.localdomain
tower3.localdomain

[database]
towerdb.localdomain

[all:vars]
admin_password='{{ admin_password }}'

pg_host='towerdb.localdomain'
pg_port='5432'

pg_database='awx'
pg_username='awx'
pg_password='{{ admin_password }}!'

rabbitmq_port=5672
rabbitmq_vhost=tower
rabbitmq_username=tower
rabbitmq_password='{{ admin_password }}!'
rabbitmq_cookie=cookiemonster

# Needs to be true for fqdns and ip addresses
rabbitmq_use_long_name=true

# Isolated Tower nodes automatically generate an RSA key for authentication;
# To disable this behavior, set this value to false
# isolated_key_generation=true

ansible_ssh_extra_args='-o StrictHostKeyChecking=no'
